@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #0e0e0e;
}

@media (prefers-color-scheme: dark) {

  }


body {
  color: rgb(var(--foreground-rgb));

  position: relative;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-item   {
  font-weight: bold;
  font-size: small;
  font-family: "Fira Code", monospace;
  margin-right: 10px;
  color: #8864ff; 

}

.nav-link:hover .nav-number {
  font-weight: bold;
  background: linear-gradient(45deg, #8864ff, #e81f8a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}

.logo{
  font-family: "Fira Code", monospace;
}
.logo:hover {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  background: linear-gradient(45deg, #8864ff, #e81f8a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}

.number-tags {
  position: relative; 
  font-family: "Fira Code", monospace;
  font-weight: bold;
  background: linear-gradient(45deg, #8864ff, #e81f8a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; 
  padding-left: 20px; 
}

.number-tags::before {
  content: ''; 
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px; 
  background-color: #ffffff; 
}

.link {
  font-weight: bold;
  background: linear-gradient(45deg, #8864ff, #e81f8a);
  -webkit-background-clip: text;

  color: transparent;
}
.link:hover { 
  font-weight: bold;
  background: linear-gradient(45deg, #e81f8a, #8864ff);
  -webkit-background-clip: text;
  color: transparent; 
  text-decoration: underline;
}
.greeting {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  background: linear-gradient(45deg, #8864ff, #e81f8a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  display: inline-block;

}

.TypeAnimation {
  color: #60a5fa;
}

.mobile-menu:hover {
  font-weight: bold;
  background: linear-gradient(45deg, #e81f8a, #8864ff);
  -webkit-background-clip: text;
  color: transparent; 
}
.social-links {
  color: #bebebe
}

.social-links:hover {
  font-weight: bold;
  background: linear-gradient(45deg, #e81f8a, #8864ff);
  -webkit-background-clip: text;
  color: transparent; 
}

.social-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}


.social-icons-container::before,
.social-icons-container::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 1px; 
  background-color: #b3b3b3; 
}



.social-icons-container::after {
  top: 60%; 
  bottom: -70%;
  margin-top: 36px;
  margin-left: -4px; 
}
.gradient-border {
  background: linear-gradient(163deg, #e81f8a 0%, #73daff 50%, #8864ff 100%);
}


.card {
  width: 350px;
  background-image: linear-gradient(163deg, #e81f8a 0%, #73daff 50%, #8864ff 100%);
  border-radius: 21px;
  transition: all .3s;
 }

 .card2 {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  background-color: #141414;
  transition: all .2s;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 30px 1px rgba(239, 138, 255, 0.406);
 }

 .project-title {
  font-family: var(--font-sans-medium);
  font-size: var(--fz-xxl);
  margin-bottom: 5px;
  text-align: center;
  line-height: 0.8;
 }

 .project-body {
  text-align: center;
  color: var(--sub-main);
  font-family: var(--font-sans);
  font-size: var(--fz-md);
  line-height: 1.4;
 }

 .project-languages {
  font-family: var(--font-mono);

 }